{
	"env": { "es2021": true },
	"plugins": ["import"],
	"extends": ["eslint:recommended"],
	"parserOptions": {
		"ecmaVersion": 2022,
		"sourceType": "module"
	},
	"ignorePatterns": ["@types/", "node_modules/"],
	"rules": {
		"quotes": ["error", "single"],
		"no-tabs": "off",
		"indent": ["error", "tab"],
		"semi": ["error", "never"],
		"arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
		"no-trailing-spaces": "error",
		"comma-dangle": ["error", "always-multiline"],
		"newline-before-return": "error",
		"no-underscore-dangle": ["error", { "allowAfterThis": true, "allowAfterSuper": true }],
		"no-unused-vars": "error",
		"eol-last": ["error", "always"],
		"strict": "off",
		"no-plusplus": "off",
		"max-len": ["error", 120],
		"import/extensions": 0,
		"import/newline-after-import": ["error", { "count": 2 }],
		"import/no-unresolved": [2, { "ignore": ["^(resource|gi)"] }],
		"no-warning-comments": ["error", { "terms": ["fixme"], "location": "anywhere" }]
	},
	"globals": {
		"log": "readonly",
		"logError": "readonly",
		"TextDecoder": "readonly",
		"Intl": "readonly",
		"console": "readonly"
	}
}
