.running-cat {
    background-size: 30px;
    min-width: 36px;
}

.frequency-label {
    color: #bebebe;
    display: inline-block;

    font-size: 13px;
    line-height: 30px;
    text-align: center; 

    width: 2.75em; 
    padding-left: 2px;    
}