.runcat-menu__icon {
    padding: 0;
    -webkit-transition : all 0.2s ease-in-out;
    -moz-transition : all 0.2s ease-in-out;
    -o-transition : all 0.2s ease-in-out;
    transition : all 0.2s ease-in-out;
    will-change: all;
    icon-size: 4.5em;
    width: 2em;
}

.runcat-menu__label {
    font-size: 0.9em;
    line-height: 1;
}