name: Test & Lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
      - feature/*
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited
      - labeled
      - unlabeled

jobs:
  build:
    name: Test & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Install build dependencies
        run: sudo apt install -y gettext
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
      - name: Install NPM dependencies
        run: npm install
      - name: Lint code
        run: npm run test:lint
      - name: Typecheck
        run: npm run test:typecheck
      - name: Check that the translation files have been updated
        run: |
          make --always-make translations
          if [ $(git diff --name-only | grep -v po/messages.pot | wc -l) -ne 0 ]; then
            exit 1
          fi
